ul {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-list-items {
  display: inline-block;
  margin-right: 10px;
}

.nav-item {
  background-color: #eeeeee;
  color: #b2b2b2;
  padding: 7px;
  border-radius: 3px;
  font-weight: 600;
  text-decoration: none;
}

.nav-item:hover {
  color: #aaaaaa;
  background-color: #e8e8e8;
}

.nav-active {
  color: #5fb5e9;
}
